<div id="title">
  <div>
    <p><%= @post.updated_at %></p>
    <h1><%= @post.title %></h1>
  </div>
</div>

<div id="article_wrap">
  <div id="content">
    <%= @post.body %>
  </div>
</div>
<div id="sidebar">


  <h2>★pv数ランキング</h2>
  <ul>
    <li><a href="">記事タイトル記事タイトル記事タイトル</a></li>
    <li><a href="">記事タイトル記事タイトル記事タイトル</a></li>
    <li><a href="">記事タイトル記事タイトル記事タイトル</a></li>
  </ul>
</div>
